<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    function goBack(){
      window.history.back()
    }
  </script>
  <title>Tv Search Display Page</title>
</head>
<body>
  <h1>TV Shows search results:</h1>
  <button onclick="goBack()">Search Again</button>
  <br>
  <br>
  <% results.forEach(function(tvshows){ %>
      <li><%= tvshows['show']['name']%></li>
      <br>
      <img src= <%= tvshows['show']['image']['medium'] %>>
      <br>
      <%= tvshows['show']['summary'] %>
      <br>
      <br>

  <% }) %>
  <button onclick="goBack()">Search Again</button>
  </ul>
  
    
  

  
</body>
</html>
